.header{
	background-color: grey;
	color:white;
	padding-top: 10px;
}
.pics{
	background-image: url("../images/texture-bw.png");
	padding: 10px;
}
body{
	text-align:justify;
}
.a{
	padding-top: 20px;
}
.footer{
	background-color: grey;
	padding-top: 20px;
	color:white;
}
hr.linedesign{
	width:100px;
	background-color:LightSkyBlue;
	height:1px;
}
.last{
	background-color: black;
	color:white;
}
.f{
	color :white;
	padding-top: 10px;
}

.b{
	background-color: white;
	color: LightSkyBlue;
	border-color: LightSkyBlue;
}

.size{
	font-size: 17px;
	color: grey;
}
#z{
	font-size: 20px;
}

.ml
{
	padding: 13px;
}


.prod
{
	border: 1px solid #ccc;
	
}
.ml
{
	padding: 15px;
}

.mar-left
{
	margin-left: 9px;
	margin-right: 9px;
}

.dark{
	background-color: black;
	color: white;
}
.prod img{
	height: 160px;
	width: 120px;
	margin-left: 45px;
	margin-right: 50px;
}


.foot{
	color:lightSkyBlue;
}

